In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
df= pd.read_csv("/content/data_vowel_bayes.csv",names=["x1","x2","x3","t"])
df.head()

    x1    x2    x3  t
0  700  1500  2600  1
1  550  1550  2400  1
2  700  1500  2600  1
3  700  1600  2700  1
4  550  1600  2600  1

In [ ]:
x=df.drop("t",axis=1)
x

      x1    x2    x3
0    700  1500  2600
1    550  1550  2400
2    700  1500  2600
3    700  1600  2700
4    550  1600  2600
..   ...   ...   ...
866  500  1050  2900
867  500  1000  3000
868  500  1000  2800
869  500   900  2800
870  500   950  2700

[871 rows x 3 columns]

In [ ]:
y=df["t"]
y

0      1
1      1
2      1
3      1
4      1
      ..
866    6
867    6
868    6
869    6
870    6
Name: t, Length: 871, dtype: int64

In [ ]:
x=(x-x.min())/(x.max()-x.min())
x

           x1        x2        x3
0    0.692308  0.432432  0.571429
1    0.461538  0.459459  0.428571
2    0.692308  0.432432  0.571429
3    0.692308  0.486486  0.642857
4    0.461538  0.486486  0.571429
..        ...       ...       ...
866  0.384615  0.189189  0.785714
867  0.384615  0.162162  0.857143
868  0.384615  0.162162  0.714286
869  0.384615  0.108108  0.714286
870  0.384615  0.135135  0.642857

[871 rows x 3 columns]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=20)

In [ ]:
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
print("accuracy : ",accuracy_score(y_test,y_pred))
print("classification report :")
print(classification_report(y_test,y_pred))
print("confusion matrix")
print(confusion_matrix(y_test,y_pred))

accuracy :  0.9
classification report :
              precision    recall  f1-score   support

           1       1.00      0.67      0.80         3
           2       1.00      0.67      0.80         3
           3       1.00      1.00      1.00         2
           4       1.00      1.00      1.00         4
           5       0.80      1.00      0.89         4
           6       0.80      1.00      0.89         4

    accuracy                           0.90        20
   macro avg       0.93      0.89      0.90        20
weighted avg       0.92      0.90      0.90        20

confusion matrix
[[2 0 0 0 1 0]
 [0 2 0 0 0 1]
 [0 0 2 0 0 0]
 [0 0 0 4 0 0]
 [0 0 0 0 4 0]
 [0 0 0 0 0 4]]